#event {
  background: #f8f8f8;
  text-align: center;
}
#event .container {
  position: relative;
}
#event .stripe {
  width: 60px;
  height: 2px;
  background: #29cadf;
  margin: 0 auto;
}
#event .btn {
  margin: 10px -3px 10px 0;
  color: black;
  height: 39px;
  width: 98px;
  background: none;
  border-radius: 0;
  text-shadow: none;
  border: 1px solid #cccccc;
  padding: 8px 12px;
  box-shadow: none;
}
#event .btn:hover,
#event .btn:focus {
  padding: 9px 12px;
  background: #29cadf;
  border: none;
}
#event #next {
  border: none;
  width: 170px;
  background-color: #343131;
  color: white;
}
#event #next:hover,
#event #next:focus {
  padding: 8px 12px;
  background: #29cadf;
  border: none;
}
#event .hour-event {
  background-color: white;
  padding: 14px;
  margin: 0;
  max-width: 500px;
}
#event .hour-event .img {
  background-image: url("../img/460x307.jpg");
  width: 460px;
  height: 307px;
}
#event .left-label {
  position: relative;
  border-bottom: 30px solid #29cadf;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 20px;
  width: 150px;
  transform: rotate(-45deg);
  top: 12px;
  left: -47px;
}
#event .left-label p {
  color: white;
  padding-top: 5px;
}
#event .col-lg-2 img {
  margin-top: 110px;
}
#event .hor-line {
  background-color: #cccccc;
  height: 1409px;
  width: 2px;
  margin: 0 auto;
  position: absolute;
  top: 113px;
  left: 584px;
}
